.photo {
  display: grid;
  justify-content: center;
  align-content: center;

  overflow: hidden;
  position: relative;
  margin: 20px 0;
}

.photo::before {
  content: "loading";

  display: grid;
  justify-content: center;
  align-content: center;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.photo > img {
  animation: 0.5s forwards fade-in;

  display: block;
  width: 100%;
  max-height: 100%;
  // opacity: 0;
  object-fit: contain;
}